.dropdown-bulletpoint {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: -10%;
  transition: all 0.3s;
}

.dropdown-bulletpoint__expanded {
  margin-top: 0;
}

.dropdown-bulletpoint__bulletsymbol {
  height: 24px;
  margin-top: 16px;
}

.dropdown-bulletpoint__text {
  padding: 0;
}
