.dropdown-bulletpoint {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: -50%;
  transition: all 0.3s;
}

.dropdown-bulletpoint__expanded {
  margin: 0;
  height: 40px;
}

.dropdown-bulletpoint__bulletsymbol {
  height: 24px;
  margin: 0;
}

.dropdown-bulletpoint__text {
  padding: 0;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}
