.main-recap {
  display: flex;
  flex-direction: row;
  height: 400px;
  padding: 30px 40px 30px;
}

.main-recap__text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-recap__text-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 20px;
}

.main-recap__text {
  font-family: "Radio Canada Big", sans-serif, Arial;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 600;
}

.main-recap__button {
  width: 200px;
  height: 60px;
  font-size: 17px;
  cursor: pointer;
}

.main-recap__paragraph-section {
  width: 50%;
}

.main-recap__headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0 0;
}

.main-recap__header-mission {
  font-family: "Radio Canada Big", sans-serif, Arial;
  transition: color 0.15s ease-in;
  margin: 0 10px 0 0;
}

.main-recap__header-mission:hover {
  cursor: pointer;
  color: #b24475;
}

.main-recap__header-mission-active {
  color: #b24475;
}

.main-recap__divider {
  border: solid 1px;
}

.main-recap__header-principles {
  font-family: "Radio Canada Big", sans-serif, Arial;
  transition: color 0.15s ease-in;
  margin: 0 10px 0;
}

.main-recap__header-principles:hover {
  cursor: pointer;
  color: #b24475;
}

.main-recap__header-principles-active {
  color: #b24475;
}

.main-recap__header-choose {
  font-family: "Radio Canada Big", sans-serif, Arial;
  transition: color 0.15s ease-in;
  margin: 0 0 0 10px;
}

.main-recap__header-choose:hover {
  cursor: pointer;
  color: #b24475;
}

.main-recap__header-choose-active {
  color: #b24475;
}

.main-recap__paragraph {
}
