.main-recap {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
    gap: 50px; */
  height: 400px;
  padding: 30px 40px 30px;
}

.main-recap__text-section {
  /* width: 100%;
  max-width: 600px; */
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-recap__text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 20px;
}

.main-recap__text {
  font-family: "Radio Canada Big", sans-serif, Arial;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 600;
}

.main-recap__button {
  width: 200px;
  height: 60px;
  font-size: 17px;
  cursor: pointer;
}

.main-recap__paragraph-section {
  /* width: 100%;
  max-width: 740px; */
  width: 50%;
}

.main-recap__headers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0 0;
}

.main-recap__header-mission {
  font-family: "Radio Canada Big", sans-serif, Arial;
  transition: color 0.15s ease-in;
  margin: 0 10px 0 0;
}

.main-recap__header-mission:hover {
  cursor: pointer;
  color: #00b3b3;
}

.main-recap__header-mission-active {
  color: #00b3b3;
}

.main-recap__divider {
  border: solid 1px;
}

.main-recap__header-principles {
  font-family: "Radio Canada Big", sans-serif, Arial;
  transition: color 0.15s ease-in;
  margin: 0 10px 0;
}

.main-recap__header-principles:hover {
  cursor: pointer;
  color: #00b3b3;
}

.main-recap__header-principles-active {
  color: #00b3b3;
}

.main-recap__header-choose {
  font-family: "Radio Canada Big", sans-serif, Arial;
  transition: color 0.15s ease-in;
  margin: 0 0 0 10px;
}

.main-recap__header-choose:hover {
  cursor: pointer;
  color: #00b3b3;
}

.main-recap__header-choose-active {
  color: #00b3b3;
}

.main-recap__paragraph {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.main-recap__paragraph-bold-text {
  color: #00b3b3;
  font-weight: 500;
}

@media screen and (max-width: 1500px) {
  .main-recap {
    justify-content: space-between;
    /* gap: 50px; */
  }
  .main-recap__text-section {
    /* width: 100%; */
    width: max-content;
    /* max-width: 600px; */
  }
  .main-recap__paragraph-section {
    width: 100%;
    max-width: 650px;
  }
}

@media screen and (max-width: 1425px) {
  .main-recap {
    height: 380px;
  }
  .main-recap__text-section {
    width: 100%;
    max-width: 600px;
  }
  .main-recap__paragraph-section {
    width: 100%;
    max-width: 570px;
  }
  .main-recap__headers {
    padding: 40px 0 0;
  }
  .main-recap__header-mission {
    font-size: 22px;
  }
  .main-recap__header-principles {
    font-size: 22px;
  }
  .main-recap__header-choose {
    font-size: 22px;
  }
  .main-recap__paragraph {
    margin: 10px 0 0;
  }
}

@media screen and (max-width: 1330px) {
  .main-recap__text-section {
    max-width: 500px;
  }
  .main-recap__text-container {
    max-width: 500px;
  }
  .main-recap__text {
    font-size: 25px;
  }
}

@media screen and (max-width: 1230px) {
  .main-recap {
    height: 360px;
  }
  .main-recap__paragraph-section {
    max-width: 530px;
  }
  .main-recap__header-mission {
    font-size: 20px;
  }
  .main-recap__header-principles {
    font-size: 20px;
  }
  .main-recap__header-choose {
    font-size: 20px;
  }
  .main-recap__text-section {
    max-width: 456px;
  }
  .main-recap__text-container {
    max-width: 456px;
  }
  .main-recap__button {
    width: 180px;
    height: 50px;
  }
  .main-recap__paragraph {
    font-size: 18px;
  }
}

@media screen and (max-width: 1230px) {
  .main-recap {
    flex-direction: column-reverse;
    height: 480px;
    padding: 60px 40px 80px;
    /* gap: 80px; */
  }
  .main-recap__text-section {
    max-width: none;
    background-color: #e5e5e5;
    padding: 30px 0 30px;
    border-radius: 10px;
  }
  .main-recap__text-container {
    flex-direction: row;
    max-width: none;
    justify-content: center;
    gap: 50px;
  }
  .main-recap__text {
    font-size: 30px;
    max-width: 600px;
  }
  .main-recap__button {
    width: 220px;
    height: 60px;
    align-self: center;
  }
  .main-recap__paragraph-section {
    max-width: none;
  }
  .main-recap__headers {
    padding: 0;
  }
  .main-recap__header-mission {
    font-size: 25px;
  }
  .main-recap__header-principles {
    font-size: 25px;
  }
  .main-recap__header-choose {
    font-size: 25px;
  }
  .main-recap__paragraph {
    font-size: 20px;
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .main-recap {
    padding: 60px 20px 80px;
  }
}

@media screen and (max-width: 1035px) {
  .main-recap {
    height: 450px;
  }
  .main-recap__text {
    font-size: 25px;
    /* max-width: 540px; */
    max-width: 499px;
  }
}

@media screen and (max-width: 935px) {
  .main-recap {
    height: 440px;
    padding: 50px 20px 70px;
  }
  .main-recap__text {
    font-size: 22px;
    /* max-width: 460px; */
    max-width: 434px;
  }
  .main-recap__button {
    width: 200px;
  }
}

@media screen and (max-width: 870px) {
  .main-recap {
    height: 410px;
  }
  .main-recap__header-mission {
    font-size: 22px;
  }
  .main-recap__header-principles {
    font-size: 22px;
  }
  .main-recap__header-choose {
    font-size: 22px;
  }
  .main-recap__paragraph {
    font-size: 18px;
    margin: 15px 0 0;
  }
}

@media screen and (max-width: 850px) {
  .main-recap {
    height: 520px;
    padding: 50px 20px 60px;
  }
  .main-recap__text-section {
    padding: 20px 0 20px;
  }
  .main-recap__text-container {
    flex-direction: column;
    gap: 30px;
  }
  .main-recap__text {
    margin: 0 auto 0;
    font-size: 30px;
    max-width: 600px;
  }
  .main-recap__button {
    width: 300px;
    height: 70px;
    font-size: 23px;
  }
  .main-recap__paragraph-section {
  }
  .main-recap__header-mission {
    font-size: 23px;
  }
  .main-recap__header-principles {
    font-size: 23px;
  }
  .main-recap__header-choose {
    font-size: 23px;
  }
  .main-recap__paragraph {
    font-size: 18px;
    margin: 10px 0 0;
  }
}

@media screen and (max-width: 790px) {
  .main-recap {
    height: 490px;
  }
  .main-recap__header-mission {
    font-size: 20px;
  }
  .main-recap__header-principles {
    font-size: 20px;
  }
  .main-recap__header-choose {
    font-size: 20px;
  }
  .main-recap__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 775px) {
  .main-recap {
    height: 440px;
  }
  .main-recap__text-section {
  }
  .main-recap__text-container {
    gap: 30px;
  }
  .main-recap__text {
    font-size: 27px;
    max-width: 544px;
  }
  .main-recap__button {
    width: 260px;
    height: 60px;
    font-size: 20px;
  }
}

@media screen and (max-width: 775px) {
  .main-recap__text-section {
  }
  .main-recap__text-container {
    gap: 20px;
  }
  .main-recap__text {
    font-size: 24px;
    max-width: 478px;
  }
  .main-recap__button {
    width: 260px;
    height: 60px;
    font-size: 20px;
  }
}

@media screen and (max-width: 660px) {
  .main-recap {
    height: 420px;
    padding: 40px 20px 50px;
  }
  .main-recap__text-section {
  }
  .main-recap__text-container {
  }
  .main-recap__text {
    font-size: 22px;
    max-width: 435px;
  }
  .main-recap__button {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .main-recap {
    height: 400px;
  }
  .main-recap__header-mission {
    font-size: 17px;
    margin: 0 5px 0 0;
  }
  .main-recap__header-principles {
    font-size: 17px;
    margin: 0 5px 0;
  }
  .main-recap__header-choose {
    font-size: 17px;
    margin: 0 0 0 5px;
  }
  .main-recap__paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .main-recap {
    height: 380px;
  }
  .main-recap__text {
    font-size: 20px;
    max-width: 391px;
  }
  .main-recap__button {
    width: 170px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 562px) {
  .main-recap {
    height: 390px;
  }
  .main-recap__header-mission {
    font-size: 15px;
  }
  .main-recap__header-principles {
    font-size: 15px;
  }
  .main-recap__header-choose {
    font-size: 15px;
  }
  .main-recap__paragraph {
  }
}

@media screen and (max-width: 545px) {
  .main-recap {
    height: 380px;
    padding: 30px 20px 40px;
  }
  .main-recap__header-mission {
    font-size: 14px;
  }
  .main-recap__header-principles {
    font-size: 14px;
  }
  .main-recap__header-choose {
    font-size: 14px;
  }
  .main-recap__paragraph {
  }
  .main-recap__text {
    font-size: 18px;
    max-width: 347px;
  }
  .main-recap__button {
    width: 170px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 545px) {
  .main-recap {
    height: 395px;
  }
}

@media screen and (max-width: 490px) {
  .main-recap {
    height: 410px;
  }
  .main-recap__header-mission {
  }
  .main-recap__header-principles {
  }
  .main-recap__header-choose {
  }
  .main-recap__paragraph {
    margin: 10px 0 0;
  }
  .main-recap__text-container {
    gap: 15px;
  }
  .main-recap__text {
    font-size: 16px;
    max-width: 304px;
  }
  .main-recap__button {
    width: 170px;
    height: 40px;
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .main-recap {
    height: 430px;
  }
  .main-recap__text-section {
  }
  .main-recap__text-container {
    gap: 10px;
  }
  .main-recap__text {
    font-size: 16px;
    max-width: 300px;
  }
  .main-recap__button {
    width: 140px;
    height: 40px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .main-recap__header-mission {
  }
  .main-recap__header-principles {
  }
  .main-recap__header-choose {
  }
}
