.service-div-overview {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border-radius: 15px;
  padding: 50px 0 50px;
  margin: 0 40px 0;
}

.service-div-overview__text {
  width: 50%;
  display: flex;
  justify-content: end;
}

.service-div-overview__title {
  font-size: 38px;
  font-family: "Radio Canada Big", sans-serif, Arial;
  margin: 0 0 25px;
}

.service-div-overview__title-bold {
  font-size: 38px;
  font-family: "Radio Canada Big", sans-serif, Arial;
  margin: 0 0 25px;
  color: #fdbb30;
}

.service-div-overview__text-container {
  /* padding: 0 0 0 40px; */
  max-width: 640px;
}

.service-div-overview__paragraph {
  margin: 0;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}

.service-div-overview__points {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.service-div-overview__point {
  max-width: 320px;
  height: 106px;
  align-content: center;
  background-color: #f5f0f0;
  padding: 5px 15px;
  border-left: solid 10px #fdbb30;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: default;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);

  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateX(10px);
  }
}

.service-div-overview__point:nth-of-type(1) {
  max-width: 320px;
  height: 106px;
  align-content: center;
  background-color: #f5f0f0;
  padding: 5px 15px;
  border-left: solid 10px #fdbb30;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: default;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  margin-left: 50px;

  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateX(10px);
  }
}

.service-div-overview__point:nth-of-type(3) {
  max-width: 320px;
  height: 106px;
  align-content: center;
  background-color: #f5f0f0;
  padding: 5px 15px;
  border-left: solid 10px #fdbb30;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: default;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  margin-left: 50px;

  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateX(10px);
  }
}

.service-div-overview__point-text {
  margin: 0;
}

.service-div-overview__point-bold {
  color: #fdbb30;
  font-size: 40px;
  font-weight: bold;
}
