.service-div-overview {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border-radius: 15px;
  /* padding: 50px 0 50px; */
  padding: 20px 0 20px 20px;
  margin: 0 40px 0;
}

.service-div-overview__text {
  width: 50%;
  display: flex;
  justify-content: end;
}

.service-div-overview__title {
  font-size: 38px;
  font-family: "Radio Canada Big", sans-serif, Arial;
  margin: 0 0 25px;
}

.service-div-overview__title-bold {
  font-size: 38px;
  font-family: "Radio Canada Big", sans-serif, Arial;
  margin: 0 0 25px;
  color: #00b3b3;
}

.service-div-overview__text-container {
  /* padding: 0 0 0 40px; */
  max-width: 640px;
}

.service-div-overview__paragraph {
  margin: 0;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}

.service-div-overview__points {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.service-div-overview__point {
  max-width: 320px;
  height: 106px;
  align-content: center;
  background-color: #f5f0f0;
  padding: 5px 15px;
  border-left: solid 10px #00b3b3;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: default;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);

  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateX(10px);
  }
}

.service-div-overview__point:nth-of-type(1) {
  max-width: 320px;
  height: 106px;
  align-content: center;
  background-color: #f5f0f0;
  padding: 5px 15px;
  border-left: solid 10px #00b3b3;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: default;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  margin-left: 50px;

  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateX(10px);
  }
}

.service-div-overview__point:nth-of-type(3) {
  max-width: 320px;
  height: 106px;
  align-content: center;
  background-color: #f5f0f0;
  padding: 5px 15px;
  border-left: solid 10px #00b3b3;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: default;
  -webkit-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 24px 0px rgba(0, 0, 0, 0.75);
  margin-left: 50px;

  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: translateX(10px);
  }
}

.service-div-overview__point-text {
  margin: 0;
}

.service-div-overview__point-bold {
  color: #00b3b3;
  font-size: 40px;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  .service-div-overview__title {
    font-size: 28px;
  }
  .service-div-overview__title-bold {
    font-size: 28px;
  }
  .service-div-overview__paragraph {
    font-size: 16px;
  }
  .service-div-overview__points {
    width: 50%;
  }
  .service-div-overview__point {
    max-width: 300px;
    height: 86px;
    font-size: 16px;
  }
  .service-div-overview__point:nth-of-type(1) {
    max-width: 300px;
    height: 86px;
    font-size: 16px;
  }
  .service-div-overview__point:nth-of-type(3) {
    max-width: 300px;
    height: 86px;
    font-size: 16px;
  }
  .service-div-overview__point-bold {
    font-size: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .service-div-overview {
    margin: 0 20px 0;
  }
}

@media screen and (max-width: 1050px) {
  .service-div-overview__title {
    margin: 0 0 15px;
  }
  .service-div-overview__points {
    /* width: 50%; */
  }
  .service-div-overview__point {
    max-width: 250px;
    height: 76px;
    font-size: 12px;
  }
  .service-div-overview__point:nth-of-type(1) {
    max-width: 250px;
    height: 76px;
    font-size: 12px;
  }
  .service-div-overview__point:nth-of-type(3) {
    max-width: 250px;
    height: 76px;
    font-size: 12px;
  }
  .service-div-overview__point-bold {
    font-size: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .service-div-overview__title {
    font-size: 25px;
  }
  .service-div-overview__title-bold {
    font-size: 25px;
  }
  .service-div-overview__paragraph {
    font-size: 14px;
  }
  .service-div-overview__points {
    width: 50%;
  }
  .service-div-overview__point {
  }
  .service-div-overview__point:nth-of-type(1) {
  }
  .service-div-overview__point:nth-of-type(3) {
  }
}

@media screen and (max-width: 940px) {
  .service-div-overview__title {
  }
  .service-div-overview__title-bold {
  }
  .service-div-overview__paragraph {
    font-size: 16px;
  }
  .service-div-overview__points {
    width: 50%;
  }
  .service-div-overview__point {
    max-width: 230px;
    height: 66px;
    font-size: 12px;
  }
  .service-div-overview__point:nth-of-type(1) {
    max-width: 230px;
    height: 66px;
    font-size: 12px;
  }
  .service-div-overview__point:nth-of-type(3) {
    max-width: 230px;
    height: 66px;
    font-size: 12px;
  }
  .service-div-overview__point-bold {
    font-size: 20px;
  }
}

@media screen and (max-width: 850px) {
  .service-div-overview__title {
  }
  .service-div-overview__title-bold {
  }
  .service-div-overview__paragraph {
    font-size: 16px;
  }
  .service-div-overview__points {
  }
  .service-div-overview__point {
    max-width: 210px;
    height: 66px;
  }
  .service-div-overview__point:nth-of-type(1) {
    max-width: 210px;
    height: 66px;
  }
  .service-div-overview__point:nth-of-type(3) {
    max-width: 210px;
    height: 66px;
  }
  .service-div-overview__point-bold {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .service-div-overview__title {
    font-size: 20px;
  }
  .service-div-overview__title-bold {
    font-size: 20px;
  }
  .service-div-overview__paragraph {
    font-size: 12px;
  }
  .service-div-overview__points {
    width: 50%;
  }
  .service-div-overview__point {
    max-width: 200px;
    font-size: 13px;
  }
  .service-div-overview__point:nth-of-type(1) {
    max-width: 200px;
    font-size: 13px;
  }
  .service-div-overview__point:nth-of-type(3) {
    max-width: 200px;
    font-size: 13px;
  }
  .service-div-overview__point-bold {
  }
}

@media screen and (max-width: 700px) {
  .service-div-overview {
    flex-direction: column;
    padding: 40px 20px 40px;
    gap: 40px;
  }
  .service-div-overview__text {
    width: 100%;
  }
  .service-div-overview__title {
    font-size: 22px;
    margin: 0 0 10px;
  }
  .service-div-overview__title-bold {
    font-size: 22px;
  }
  .service-div-overview__paragraph {
    font-size: 16px;
  }
  .service-div-overview__points {
    width: 100%;
    gap: 30px;
  }
  /* .service-div-overview__point {
    max-width: 270px;
    height: 76px;
    font-size: 14px;
  }
  .service-div-overview__point:nth-of-type(1) {
    max-width: 270px;
    height: 76px;
    font-size: 14px;
  }
  .service-div-overview__point:nth-of-type(3) {
    max-width: 270px;
    height: 76px;
    font-size: 14px;
  } */
  /* .service-div-overview__point-bold {
    font-size: 20px;
  } */
}

@media screen and (max-width: 420px) {
  .service-div-overview {
  }
  .service-div-overview__text {
  }
  .service-div-overview__title {
  }
  .service-div-overview__title-bold {
  }
  .service-div-overview__paragraph {
  }
  .service-div-overview__points {
    gap: 25px;
  }
  /* .service-div-overview__point {
    max-width: 220px;
    height: 56px;
    font-size: 12px;
  }
  .service-div-overview__point:nth-of-type(1) {
    max-width: 220px;
    height: 56px;
    font-size: 12px;
  }
  .service-div-overview__point:nth-of-type(3) {
    max-width: 220px;
    height: 56px;
    font-size: 12px;
  } */
  /* .service-div-overview__point-bold {
    font-size: 18px;
  } */
}
