.dropdown-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: solid 1px;
}

.dropdown-item__title {
  font-family: "Radio Canada Big", sans-serif, Arial;
  margin: 0;
  font-size: 20px;
}

.dropdown-item__button {
  background: url(../../images/icons/chevron-up.svg) center no-repeat;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  animation: firstRotation 0.2s linear forwards;
}

.dropdown-item__button-active {
  animation: secondRotation 0.2s linear forwards;
}

@keyframes firstRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes secondRotation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dropdown-item__bulletpoints {
  width: 100%;
  height: fit-content;
  padding: 0;
  overflow: hidden;
}
