.service-div-header {
  height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-image: radial-gradient(
    circle,
    #212356,
    #482b64,
    #6c326f,
    #903a74,
    #fdbb30
  );
}

.service-div-header__title {
  margin: 0;
  font-family: "Radio Canada Big", sans-serif, Arial;
  font-size: 80px;
  color: #f5f0f0;
}
