.main__parallax {
  position: relative;
  height: 500px;
  width: 100%;
}

.main__parallax-text {
  font-family: "Radio Canada Big", sans-serif, Arial;
  font-weight: 700;
  font-style: normal;
  /* z-index: 2; */

  margin: 0;
  position: absolute;
  bottom: 75px;
  left: 150px;
  font-size: 60px;
  color: white;
  width: 600px;
}

.main__parallax-bold-text {
  color: #b24475;
}

.main__parallax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
