.main-benefits {
  display: flex;
  flex-direction: column;
  background: #212356;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 40px 110px;
}

.main-benefits__title {
  font-family: "Radio Canada Big", sans-serif, Arial;
  margin: 0;
  padding: 0 0 80px;
  font-size: 50px;
  text-align: center;
  color: white;
}

.main-benefits__benefits-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: white;
}

.main-benefit__paragraph {
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .main-benefit {
    width: 150px;
    padding: 10px;
  }
  .main-benefit__icon {
    height: 30px;
  }
  .main-benefit__subtitle {
    font-size: 16.5px;
    margin: 5px 0 5px;
    line-height: 20px;
  }
  .main-benefit__paragraph {
    font-size: 14px;
  }
}
