.header {
  height: 105px;
  background: #212356;
  padding: 0 40px 0;
  position: relative;
  z-index: 1;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}

.header__logo {
  align-self: center;
  height: 90px;
  cursor: pointer;
}

.header__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 40px;
  align-items: center;
  color: #f5f0f0;
  font-family: "Roboto Condensed", sans-serif, Arial;
  font-size: x-large;
}

.header__list-item {
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: white;
}

.header__list-item:hover {
  cursor: pointer;
  color: #b24475;
}

.header__list-item-menu {
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__list-item-menu-hovered {
  cursor: pointer;
  transition: color 0.15s ease-in;
  color: white;
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 51px;
}

.header__list-item-menu-hovered:hover {
  cursor: pointer;
  color: #b24475;
}

.header__button {
  width: 200px;
  height: 50px;
  font-size: 17px;
  padding: 0;
  cursor: pointer;
  align-self: center;
}
