.modal-submit__paragraph {
  font-family: "Inclusive Sans", sans-serif, Arial;
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .modal-submit__paragraph {
    letter-spacing: 0.4px;
    line-height: 25px;
    font-size: 17px;
  }
}
