.service-div-tech-tools {
  padding: 80px 40px 120px;
}

.service-div-tech-tools__header {
  text-align: center;
  margin: 0 0 30px;
  font-size: 48px;
  font-family: "Radio Canada Big", sans-serif, Arial;
}

.service-div-tech-tools__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-div-tech-tools__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  color: #00b3b3;
}

.service-div-tech-tools__image-wrapper:hover ~ .service-div-tech-tools__title {
  border-bottom: 3px solid #00b3b3;
  transform: translate(0, -15px);
}

.service-div-tech-tools__image-wrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.2s ease-in;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.service-div-tech-tools__image-wrapper:hover {
  transform: translate(0, -15px);
}

.service-div-tech-tools__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: default;
  transition: transform 0.2s ease-in;
}

.service-div-tech-tools__image:hover {
  /* transform: scale(1.1); */
}

.service-div-tech-tools__title {
  margin: 10px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 3px solid transparent;
  transition: transform 0.2s ease-in;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: "Roboto", sans-serif;
}

.service-div-tech-tools__title:hover {
  border-bottom: 3px solid #00b3b3;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1300px) {
  .service-div-tech-tools__image-wrapper {
    width: 170px;
    height: 170px;
  }
  .service-div-tech-tools__image {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 500px) {
  .service-div-tech-tools__items {
    gap: 40px;
  }
  .service-div-tech-tools__image-wrapper {
    width: 130px;
    height: 130px;
  }
  .service-div-tech-tools__image {
    width: 130px;
    height: 130px;
  }
  .service-div-tech-tools__title {
    font-size: 14px;
  }
}
